# TF IDF - Term Frequency - Inverse Document Frequency

1. The tfâ€“idf is the product of two statistics, term frequency and inverse document frequency. There are various ways for determining the exact values of both statistics.

In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.DataFrame({
    'text':["I love programming in Python",
             "Python is great for data science",
             "I enjoy learning new programming languages",
             "Data science is an exciting field",
             "Python and data science go hand in hand"]
             ,'output' : [1, 1, 0, 1, 1]
})
df

                                         text  output
0                I love programming in Python       1
1            Python is great for data science       1
2  I enjoy learning new programming languages       0
3           Data science is an exciting field       1
4     Python and data science go hand in hand       1

In [11]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf=TfidfTransformer()
df['text']

0                  I love programming in Python
1              Python is great for data science
2    I enjoy learning new programming languages
3             Data science is an exciting field
4       Python and data science go hand in hand
Name: text, dtype: object

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()

X_counts = vectorizer.fit_transform(df['text'])
arr = tfidf.fit_transform(X_counts).toarray()
# Display the TF-IDF array in a formatted way
pd.set_option('display.precision', 3)
pd.set_option('display.width', 100)
pd.DataFrame(arr)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.0,0.000,0.486,0.000,0.000,0.000,0.603,0.000,0.486,0.404,0.000
1,0.000,0.000,0.335,0.000,0.000,0.000,0.5,0.000,0.5,0.000,0.000,0.404,0.000,0.000,0.000,0.000,0.000,0.335,0.335
2,0.000,0.000,0.000,0.464,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.000,0.464,0.464,0.000,0.464,0.374,0.000,0.000
3,0.469,0.000,0.314,0.000,0.469,0.469,0.0,0.000,0.0,0.000,0.000,0.378,0.000,0.000,0.000,0.000,0.000,0.000,0.314
4,0.000,0.354,0.237,0.000,0.000,0.000,0.0,0.354,0.0,0.707,0.285,0.000,0.000,0.000,0.000,0.000,0.000,0.237,0.237

In [22]:
tfidf.idf_

array([2.09861229, 2.09861229, 1.40546511, 2.09861229, 2.09861229,
       2.09861229, 2.09861229, 2.09861229, 2.09861229, 2.09861229,
       1.69314718, 1.69314718, 2.09861229, 2.09861229, 2.09861229,
       2.09861229, 1.69314718, 1.40546511, 1.40546511])